
<header  id="banner">

   <div class="container">
    <div class="row">

      <div class="col-xs-6"><img class="gojiLogo" src="assets/images/gojiLogoFinal.png"/></div>
      <div class="col-xs-6">

              <a class="signIn" href="/why">Why</a>
              <a class="signIn2" href="/faq">How it works/FAQ</a>
              <a class="signIn3" href="mailto:hello@mouthless.co">Get in touch</a>

      </div>

    </div>
  </div>
</header>
  <div class="container-fluid">
   <div class="padding-top20">
   <div class="row">

    <div class="iphoneFrames">
      <img ng-init="displayed=1" class="phone" ng-show="displayed==1" src="assets/images/iphoneFrame1.png" >
      <img ng-show="displayed==2" ng-show="displayed==1" src="assets/images/iphoneFrame2.png" class="phone" >
      <img ng-show="displayed==3" ng-show="displayed==1" src="assets/images/iphoneFrame3.png" class="phone" >
      <img ng-show="displayed==4" ng-show="displayed==1" src="assets/images/iphoneFrame4.png" class="phone" >
    </div>
    <div class="col-xs-5">

      <div class="intro-section">

                 <h2 ng-click="displayed=1" ng-class="{'clickedBtn':displayed==1}">😶</h2>
                 <h2 ng-click="displayed=2">🍷</h2>
                 <h2 ng-click="displayed=3">🚘</h2>
                 <h2 ng-click="displayed=4">💸</h2>
                 <div class="textUsDesktop">
                    <h1>Order on-demand via emoji by texting our number 🙌:</h1>
                    <!-- Order on-demand via emoji by texting our number 🙌: //Alternate text for a/b test -->
                    <h1 class="number">+1 (646) 693-3348</h1>
                 </div>

      </div>

      </div>
    </div>
                <div class="row textUsMobile">
                    <h1>Order on-demand via emoji by texting our number 🙌:</h1>
                    <h1 class="number">+1 (646) 693-3348</h1>
                </div>



    </div>
  </div>

<footer></footer>



